<div class = "d-flex justify-content-center">
<img src="<%=@cocktail.image_url %>" class="" alt="..." style = "width: 300px; height: 500px">
<div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title"><%= @cocktail.name %></h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <% @cocktaildoses.each do |dose| %>
  <ul class="list-group list-group-flus">
    <li class="list-group-item "><%= dose.description %> <br> <%= dose.ingredient.name %> </li>
    <%= link_to "Delete this Ingredient", dose_path(dose), method: :delete %>
  </ul>
  <% end %>
  <div class="card-body">
    <%= link_to "Add Ingredient",  new_cocktail_dose_path(@cocktail) %>
  </div>
</div>
</div>

