<h1>New Ingredient</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <%= form_for [@cocktail, @dose ] do |f| %>
       <%= f.label :description %>
       <%= f.text_field :description %>
       <%= f.collection_select(:ingredient, Ingredient.all, :id, :name) %>
      <%= f.submit %>
  <% end %>


